@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@600;800;900&display=swap');

* {
  box-sizing: border-box;
}

html,
body{
  margin:0;
  height:100vh;
  overflow:hidden;
  font-family:"Noto Sans Georgian",sans-serif;
  display:grid;
  place-items:center;
  color:white;
  position:relative;
}

body::before{
  content:"";
  position:fixed;
  inset:0;
  background:
    linear-gradient(rgba(10,0,35,.15),rgba(5,0,20,.42)),
    url("bg.png") center/cover no-repeat;
  z-index:-1;
  animation:introZoom 3s ease forwards;
}

@keyframes introZoom{
  from{transform:scale(1.12);filter:blur(4px)}
  to{transform:scale(1);filter:blur(0)}
}

/* MAIN CARD */
.invite-card {
  width: min(390px, 94vw);
  height: min(680px, 96vh);
  padding: 14px;
  border-radius: 28px;
  background: rgba(16, 0, 45, 0.22);
  border: 1px solid rgba(255, 255, 255, 0.35);
  box-shadow:
    0 0 45px #ff22d6,
    inset 0 0 25px rgba(0, 234, 255, 0.25);
  backdrop-filter: blur(3px);
  animation: pulseCard 2s infinite alternate;
  opacity:0;
  transform:scale(.85);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.show-card{
  animation:showCard 1.2s ease forwards;
}

@keyframes showCard{
  from{opacity:0;transform:scale(.85)}
  to{opacity:1;transform:scale(1)}
}

@keyframes pulseCard {
  from {
    box-shadow:
      0 0 28px #ff22d6,
      inset 0 0 18px rgba(0, 234, 255, 0.18);
  }

  to {
    box-shadow:
      0 0 55px #00eaff,
      inset 0 0 28px rgba(255, 34, 214, 0.25);
  }
}

/* TITLE */
.top-label {
  text-align: center;
  font-size: clamp(26px, 5vw, 40px);
  font-weight: 900;
  letter-spacing: 2px;
  color: #8ff6ff;
  text-shadow:
    0 0 8px #00eaff,
    0 0 18px #00eaff;
  margin: 4px 0 95px;
}

/* PAPER BOX */
.paper {
  position: relative;
  top: -65px;
  padding: 16px 14px;
  border-radius: 24px;
  text-align: center;
  color: #250047;
  background: rgba(255, 240, 255, 0.88);
  border: 3px solid #ff5fe1;
  box-shadow:
    0 0 28px #ff4fd8,
    inset 0 0 18px rgba(255, 255, 255, 0.7);
  animation: floatBox 3s ease-in-out infinite;
}

@keyframes floatBox {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-7px);
  }
}

.small-title {
  margin: 0 0 5px;
  font-size: 12px;
  color: #7b29ff;
  font-weight: 800;
}

h1 {
  margin: 0;
  font-size: 22px;
  line-height: 1.12;
  font-weight: 900;
  color: #2d0a75;
}

h1 span {
  font-size: 41px;
  color: #d723b9;
  text-shadow:
    0 2px #7b29ff,
    0 0 12px #ff66df;
}

.text {
  font-size: 12px;
  line-height: 1.42;
  margin: 9px 0;
}

.details {
  display: grid;
  gap: 7px;
  margin: 9px 0;
}

.details div {
  background: rgba(255, 255, 255, 0.95);
  border: 2px dashed #d85cff;
  border-radius: 13px;
  padding: 7px;
}

.details span {
  display: block;
  font-size: 11px;
  color: #7e30cb;
}

.details strong {
  display: block;
  font-size: 14px;
  margin-top: 2px;
}

button {
  border: 0;
  padding: 11px 22px;
  border-radius: 999px;
  color: white;
  font-size: 15px;
  font-weight: 900;
  cursor: pointer;
  background: linear-gradient(90deg, #ff29c3, #6d3cff, #00d4ff);
  box-shadow: 0 0 25px #ff29c3;
  animation: btnGlow 1.2s infinite alternate;
}

@keyframes btnGlow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.05);
  }
}

#message {
  margin: 6px 0 0;
  min-height: 19px;
  font-size: 13px;
  color: #d723b9;
  font-weight: 900;
}

footer {
  margin-top: -48px;
  text-align: center;
  font-size: 9px;
  color: #ffd7ff;
  text-shadow: 0 0 8px #ff4fd8;
}

/* EFFECTS */
.effects {
  position: fixed;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 999;
}

.balloon {
  position: absolute;
  bottom: -100px;
  width: 38px;
  height: 52px;
  border-radius: 50%;
  animation: balloonUp 4s ease-out forwards;
}

.balloon::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50px;
  width: 2px;
  height: 45px;
  background: white;
}

@keyframes balloonUp {
  to {
    transform: translateY(-120vh) rotate(25deg);
    opacity: 0;
  }
}

.firework {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
  box-shadow:
    0 -40px #ff4fd8,
    0 40px #00eaff,
    40px 0 #ffe600,
    -40px 0 #ff4fd8,
    28px 28px white,
    -28px -28px #00eaff,
    28px -28px #ffe600,
    -28px 28px white;
  animation: explode 1s ease-out forwards;
}

@keyframes explode {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    transform: scale(2.8);
    opacity: 0;
  }
}

.confetti {
  position: absolute;
  top: -20px;
  width: 9px;
  height: 16px;
  animation: confettiFall 3.5s linear forwards;
}

@keyframes confettiFall {
  to {
    transform: translateY(110vh) rotate(720deg);
    opacity: 0;
  }
}

.flash {
  position: fixed;
  inset: 0;
  background: white;
  opacity: 0.8;
  animation: flash 0.45s forwards;
}

@keyframes flash {
  to {
    opacity: 0;
  }
}
/* PHONE VERSION */
@media (max-width: 480px) {
  body {
    padding: 0;
  }

  body::before {
    background:
      linear-gradient(rgba(5, 0, 25, 0.08), rgba(5, 0, 25, 0.35)),
      url("bg-mobile.png") center / cover no-repeat;
  }

  .invite-card {
    width: 100vw;
    height: 80vh;
    border-radius: 26px;
    padding: 10px 16px;
    background: transparent;
    border: none;
    box-shadow: none;
    backdrop-filter: none;
  }

  .top-label {
    font-size: 50px;
    margin: 4px 0 82px;
  }

  .paper {
    width: 88%;
    height: 75%;
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
    margin: 0 auto;
    top: -100px;
    padding: 13px 11px;
    border-radius: 21px;
    background: rgba(255, 240, 255, 0.86);
  }

  .small-title {
    font-size: 9.5px;
  }

  h1 {
    font-size: 19px;
  }

  h1 span {
    font-size: 34px;
  }

  .text {
    font-size: 10px;
    line-height: 1.25;
    margin: 6px 0;
  }

  .details {
    gap: 5px;
    margin: 6px 0;
  }

  .details div {
    padding: 5px;
    border-radius: 11px;
  }

  .details span {
    font-size: 9px;
  }

  .details strong {
    font-size: 12px;
  }

  button {
    padding: 9px 18px;
    font-size: 13px;
  }

  #message {
    font-size: 10px;
    min-height: 14px;
  }

  footer {
    margin-top: -35px;
    margin-bottom: 4px;
    font-size: 7px;
  }
}

/* VERY SMALL PHONES */
@media (max-width: 380px) {
  .invite-card {
    height: 82vh;
    max-height: 82vh;
  }

  .top-label {
    font-size: 23px;
    margin-bottom: 70px;
  }

  .paper {
    width: 90%;
    top: -38px;
    padding: 11px 9px;
  }

  h1 {
    font-size: 17px;
  }

  h1 span {
    font-size: 30px;
  }

  .text {
    font-size: 9.5px;
  }

  .details strong {
    font-size: 11px;
  }
}